################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeonGateWeb/obj
/.vs/NeonGate/v17
/.vs/NeonGate/FileContentIndex
